<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        ng-app="myApp"
        lang="en">
<head>
    <title>E.O.M.S.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <style>
        .dropdown-submenu {
            position: relative;
        }

        .dropdown-submenu .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -1px;
        }
    </style>
</head>
<body>

<div class="container" ng-controller="myCtrl">
    <h2>The review app</h2>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" type="button" data-toggle="dropdown">Category
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a tabindex="-1" href="#">Cloths</a></li>
                            <li><a tabindex="-1" href="#">Electronics</a></li>
                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">Food &amp; Drinks<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="#">KFC</a></li>
                                    <li><a tabindex="-1" href="#">SFC</a></li>
                                    <li class="dropdown-submenu">
                                        <a class="test" href="#">Mcdonalds<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#" ng-click="get_review(1)">Breakfast</a></li>
                                            <li><a href="#" ng-click="get_review(2)">Lunch</a></li>
                                            <li><a href="#" ng-click="get_review(3)">Dinner</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>

<script>
    $(document).ready(function () {
        $('.dropdown-submenu a.test').on("click", function (e) {
            $(this).next('ul').toggle();
            e.stopPropagation();
            e.preventDefault();
        });
    });
</script>
<script type="text/javascript" src="/app.js"></script>
</body>
</html>
